<h1>New Representative contribution</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.representative_contribution_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.representative_contribution_path(@conn, :index) %></span>
